.vehicle-form-container {
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.vehicle-form-container h3 {
  text-align: center;
}

.vehicle-form-container select,
.vehicle-form-container input {
  width: 100%;
}
